@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1440px;
  margin: 30px auto;
  overflow: auto;
  min-height: 1000px;
  padding: 30px;
  border-radius: 5px;
  position: relative;
}

.header {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.btn {
  display: block;
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 30%;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.btn-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

.btn-block {
  display: block;
  width: 100%;
}

.task {
  background: #f4f4f4;
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.task.reminder {
  border-left: 5px solid green;
}

.task h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add-form {
  margin-bottom: 40px;
}

.form-control {
  margin: 20px 0;
}

.form-control label {
  display: block;
}

.form-control input {
  width: 100%;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}

.form-control-check {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-control-check label {
  flex: 1;
}

.form-control-check input {
  flex: 2;
  height: 20px;
}

footer {
  margin-top: 30px;
  text-align: center;
}

h1 {
  background-color: white;
  color: black;
  font-size: 50px;
  font-weight: normal;
  opacity: 0.8;
}

.dropdown {
  display: flex;
  background-color: white;
  color: black;
}

.droptitle {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 16px;
  font-weight: 700;
}

.droptext {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 18px;
}

.ziptitle {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 20px;
  font-weight: 700;
}

.zipbox {
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 16px;
  font-weight: 600;
}

.box1 {
  display: flex;
  flex-direction: column;
}

.box2 {
  display: flex;
  flex-direction: column;
}

.box3 {
  display: flex;
  flex-direction: column;
}

.box4 {
  display: flex;
  flex-direction: column;
  -ms-flex-align: center;
  margin-top: 1px;
}

.box5 {
  display: flex;
  flex-direction: column;
}

.box6 {
  display: flex;
  flex-direction: column;
}

.main1 {
  display: flex;
  flex-direction: column;
}

.main2 {
  display: flex;
  flex-direction: column;
}

.main3 {
  display: flex;
  flex-direction: column;
}
